     <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/bikes">Bikes</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/location">Location</a></li>
            </ul>
        </nav>
