<nav>
    <ul>
        <% if (locals.user) { %>
            <li class="name">Welcome, <%= user.name %></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/bikes">Bikes</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/location">Location</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        <% } %>
    </ul>
</nav>