<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <h1 style="text-align: center; color: red;">ERROR</h1>
      <%- include('./partials/footer.ejs') %>
</body>
</html>