<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/header.ejs') %>
<body>
       <div class="title">
         <h1><img class="logo" src="/images/logo.png" alt="logo"></h1>
        <%- include('./partials/nav.ejs') %>
         </div>
       
         <div>
          <img class="location" src="/images/location.jpg" alt="location">
         </div>
           <%- include('./partials/footer.ejs') %>
</body>
</html>