<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/header.ejs') %>
<body>
       <div class="title">
        <h1>BIKE RENTAL</h1>
        <%- include('./partials/nav.ejs') %>
         </div>
   <div>
          <img src="/images/location.jpg" alt="location">
         </div>
           <%- include('./partials/footer.ejs') %>
</body>
</html>
